extends layout

block content
  form(name="forgot-password", method="post", action="/forgot-password")
    div.form-inner
      h1= title
      div.form-inputs
        div
          input(type="hidden", name="reset-token", value= token)
        div.input
          span.label New Password
          input(type="text", name="password")
        div.input
          span.label Confirm Password
          input(type="text", name="confirm-password")
    div.submit
      input(type="submit", value="Submit")


