extends layout

block content
  form(name="forgot-password", method="post", action="/forgot-password")
    div.form-inner
      h1= title
      h2 Forgot Password
      p by Rick Fox! :P
      div.form-inputs
        div.input
          span.label Email
          input(type="text", name="email")
    div.submit
      input(type="submit", value="Submit")
    div.subfooter-links
    a(href="/") Login
    span= " | " 
    a(href="/register") Register


