extends layout

block content
  
    div.form-inner
      h1= title
      p by Rick Fox! 
      ul
        li
          p Personal Info
        li
          p See all authed devices
        li
          p Show connected apps using Oauth
        li
          p Account preferences
        li
          p Delete Account
        li
          p Reset Password
        li
          p Recovery Options

