extends layout

block content
  form(name="register", method="post", action="/users/register")
    div.form-inner
      h1= title
      p Welcome to #{title}
      h2 This is where we will have the default authentication redirect to login or information about registering?..
      div.form-inputs
        div.input
          span.label First Name
          input(type="text", name="first")
        div.input
          span.label Last Name
          input(type="text", name="last")
        div.input
          span.label Display Name
          input(type="text", name="username")
        div.input
          span.label Email
          input(type="text", name="email")
        div.input
          span.label Confirm Email
          input(type="text", name="email-confirm")
        div.input
          span.label Password
          input(type="text", name="password")
        div.input
          span.label Confirm Password
          input(type="text", name="password-confirm")
        div.input
          span.label Birthday
          span.label-subcopy 
            a(href="/help?why-do-we-ask-for-your-birth-date") Why do we ask for this?
          div
            input(type="date", name="birthdate")
        div.input
          span.label Language
          input(type="text", name="lang")
        div.input
          span.label Gender
          input(type="text", name="gender")
        div.input
          span.label Preffered Timezone
          input(type="text", name="timezone")
        div.input
          span.label Phone *optional
          span.label-subcopy 
            a(href="/help?why-do-we-ask-for-your-phone-number") Why do we ask for this?
          div
            input(type="text", name="phone")
        div.checkbox
          span.label(for="remember") Remember me
          input(type="checkbox", name="remember", id="remember")
    div.submit
      input(type="submit", value="Submit")
  div.subfooter-links
    a(href="/") Login


